APP_NAME=
APP_HOSTNAME=
APP_PORT=
NODE_ENV=
TOKEN_ENCRYPTION_KEY=

# Database Specific Settings
DATABASE_TYPE=
DATABASE_HOST=
DATABASE_DB=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_SYNCHRONIZE=
DATABASE_LOGGING=
DATABASE_RETRY_ATTEMPTS=
RUN_MIGRATIONS=

# Swagger Settings
SWAGGER_API_ROOT=

# Auth
BCRYPT_SALT_ROUNDS=
EMAIL_VERIFICATION_OTP_VALIDITY_IN_MINUTES=

# Email
DEFAULT_EMAIL_PROVIDER=

# Sendgrid 
SENDGRID_API_KEY=
SENDGRID_SENDER_NAME=
SENDGRID_SENDER_EMAIL=
SENDGRID_TEMPLATES_EMAIL_VERIFICATION=